*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

.container{
    display: flex;
    flex-wrap: wrap;

}

.c1, .c2, .c3, .c4, .c5{
    width: 100%;
    min-width: 150px;
    height: 150px;
}

.c1{
    background-color: blueviolet;
}

.c2{
    background-color: rgb(191, 122, 255);
}

.c3{
    background-color: rgb(255, 89, 255);
}

.c4{
    background-color: rgb(86, 230, 255);
}

.c5{
    background-color: rgb(255, 66, 66);
}






/* @media (min-width: 600px) {
    
    .c2, .c3, .c4{
        width: 50%;
    }
} */

/* @media (min-width: 800px){
    .container{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .c1{
        width: 60%;
    }
    .c2{
        width: 40%;
    }
    .c3, .c4{
        width: 33%;
    }
    .c5{
        width:  34%;
    }
} */